In [48]:
# Carga librerias
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [49]:
# Importar Dataset
dataset = pd.read_csv("Social_Network_Ads.csv")

In [50]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [51]:
# Separar la variable dependiente | independiente
X = dataset.iloc[:,[2,3]].values
y = dataset.iloc[:,4].values

In [52]:
# Dividir el dataset con el conjunto de entrenamiento y testing
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.25,random_state=0)

In [53]:
# Escalado de variables
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [54]:
# Ajustar el modelo de Regresi√≥n Logistica en el Conjunto de Entrenamiento
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [55]:
# Prediccion de los resultados con el conjunto de testing
y_pred =classifier.predict(X_test)